<% content_for :head do %>  
	<%= javascript_include_tag 'jquery.dataTables','highcharts','js/modules/exporting.js' %> 
	<%= stylesheet_link_tag 'demo_table_jui' %>
	<script type="text/javascript">
	$(function() {
		var dates = $('#chart_from, #chart_to').datepicker({
			defaultDate: "-1m",
			changeMonth: true,
			numberOfMonths: 2,
			onSelect: function(selectedDate) {
				var option = this.id == "chart_from" ? "minDate" : "maxDate";
				var instance = $(this).data("datepicker");
				var date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
				dates.not(this).datepicker("option", option, date);
			}
		});
	});
	</script>
	<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
	</script>
	<% end %>
	<p>
		<b>Charts:</b>
	</p>
	<% form_for :chart, @chart, :url => { :action => "show_disk_space" }, :html=>{:class=>"form"}  do |f| %>
	<%= error_messages_for :chart, 
							:header_message => "Please Try Again!", 
							:message => "Please fill the following fields:" %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :from %>
		<%= f.text_field :from %>
	</p>
	<p>
		<%= f.label :to %>
		<%= f.text_field :to %>
	</p>

	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Select Project:</a></li>
			<li><a href="#tabs-2">Select Format:</a></li>
		</ul>
		<div id="tabs-1">

			<p>
				<% for project in Project.find(:all) %>
				<%= check_box_tag "project_ids[]", project.id %>  
				<%= project.name %>
				<% end %>
			</p>


		</div>
		<div id="tabs-2">
			<p>
				<% for format in Formato.find(:all) %>   
				<%= check_box_tag "format_ids[]", format.id %>  
				<%= format.name %>   
				<% end %>
			</p>
		</div>

	</div>

	<%= f.submit "Create Chart" %>

	<% end %>

