<% content_for :head do %>  
<%= javascript_include_tag 'jquery.dataTables','highcharts','js/modules/exporting.js' %> 
<%= stylesheet_link_tag 'demo_table_jui' %>
<script type="text/javascript">
$(document).ready(function() {

	$('#jobs').dataTable({
	 "bJQueryUI": true,
		"aoColumns": [
			null,
            null
        ]
                   
	});
});
</script>
 <% end %>


<p>
  <b>Charts:</b>
</p>

<% form_for :chart , :url => { :action => "show" } do |f| %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
 
<p>Select Project:</p>
<p>
   	<% for project in Project.find(:all) %>  
	    <div>  
	      <%= check_box_tag "project_ids[]", project.id %>  
	      <%= project.name %>  
	    </div>  
	<% end %>
  </p>

<p>Select Software:</p>
<p>
   	<% for software in Software.find(:all) %>  
	    <div>  
	      <%= check_box_tag "software_ids[]", software.id %>  
	      <%= software.name %>  
	    </div>  
	<% end %>
  </p>
<p>Select Resource:</p>
<p>
   	<% for resource in Resource.find(:all) %>  
	    <div>  
	      <%= check_box_tag "resource_ids[]", resource.id %>  
	      <%= resource.name %>  
	    </div>  
	<% end %>
  </p>



    <%= f.submit "Create Chart" %>
  </p>
<% end %>





<%= link_to 'Back', softwares_path %>