<% content_for :head do %>  
<%= javascript_include_tag 'jquery.dataTables','highcharts','js/modules/exporting.js' %> 
<%= stylesheet_link_tag 'demo_table_jui' %>
<script type="text/javascript">
	$(function() {
		var dates = $('#chart_from, #chart_to').datepicker({
			defaultDate: "-1m",
			changeMonth: true,
			numberOfMonths: 2,
			onSelect: function(selectedDate) {
				var option = this.id == "chart_from" ? "minDate" : "maxDate";
				var instance = $(this).data("datepicker");
				var date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
				dates.not(this).datepicker("option", option, date);
			}
		});
	});
	</script>
	<script type="text/javascript">
		$(function() {
			$("#tabs").tabs();
		});
		</script>
<% end %>
<p>
  <b>Charts:</b>
</p>
<% form_for :chart , :url => { :action => "show" } do |f| %>
<p>
	<%= f.label :title %><br />
	<%= f.text_field :title %>
</p>
	<p>
	<%= f.label :from %><br />
	<%= f.text_field :from %>
</p>
<p>
	<%= f.label :to %><br />
	<%= f.text_field :to %>
	</p>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Select Project:</a></li>
		<li><a href="#tabs-2">Select Software:</a></li>
		<li><a href="#tabs-3">Select Resource:</a></li>
	</ul>
	<div id="tabs-1">

		<p>
			<% for project in Project.find(:all) %>
				<%= check_box_tag "project_ids[]", project.id %>  
				<%= project.name %>
			<% end %>
		</p>


	</div>
	<div id="tabs-2">
		<p>
			<% for software in Software.find(:all) %>   
				<%= check_box_tag "software_ids[]", software.id %>  
				<%= software.name %>   
			<% end %>
		</p>
	</div>
	<div id="tabs-3">
		<p>
			<% for resource in Resource.find(:all) %>  
				<%= check_box_tag "resource_ids[]", resource.id %>  
				<%= resource.name.capitalize! %>    
			<% end %>
		</p>
	</div>
</div>

<%= f.submit "Create Chart" %>

<% end %>

