<% content_for :head do %>  
<%= javascript_include_tag 'jquery.dataTables','highcharts','js/modules/exporting.js' %> 
<%= stylesheet_link_tag 'demo_table_jui' %>
<script type="text/javascript">
$(document).ready(function() {

	$('#jobs').dataTable({
	 "bJQueryUI": true,
		"aoColumns": [
			null,
            null
        ]
                   
	});
});
</script>
 <% end %>


<h2><%= @chart.title %></h2>
<h2><%= @from %></h2>
<h2><%= @to %></h2>
<h2><%= @type %></h2>


<h3>Selected Projects</h3>




<%= render :partial => "shared/pie", :locals => { :insert_div => "chart"} %>


<div id="chart" style="width:800px; height:450px"></div>