<% content_for :head do %>  
<%= javascript_include_tag 'jquery.dataTables','highcharts','js/modules/exporting.js' %> 
<%= stylesheet_link_tag 'demo_table_jui' %>

 <% end %>


<h2><%= @chart.title %></h2>
<h2><%= @from %></h2>
<h2><%= @to %></h2>


<h3>Selected Projects</h3>




<%= render :partial => "shared/pie", :locals => { :insert_div => "memory_line_chart"} %>


<div id="memory_line_chart" style="width:560px; height:300px"></div>