<% content_for :head do %>  
<%= javascript_include_tag 'jquery.dataTables','highcharts' %>  
<%= stylesheet_link_tag 'demo_table_jui' %>
<script type="text/javascript">
$(document).ready(function() {

	$('#jobs').dataTable({
	 "bJQueryUI": true,
		"aoColumns": [
			null,
            null
        ]
                   
	});
});
</script>
 <% end %>

<p>
  <b>Name:</b>
  <%=h @proyect.name %>
</p>

<%= render :partial => "shared/line", :locals => { :insert_div => "walltime_line_chart", :title => "Walltime VS CPU Time", :name_data_1 => "Walltime", :name_data_2 => "CPU Time", :data1 => "total_walltime", :data2 => "total_cput"} %>

<div id="walltime_line_chart" style="width:560px; height:300px"></div>



<%= link_to 'Edit', edit_proyect_path(@proyect) %> |
<%= link_to 'Back', proyects_path %>