<% content_for :head do %>  
<%= javascript_include_tag 'jquery.dataTables','highcharts' %>  
<%= stylesheet_link_tag 'demo_table_jui' %>
<script type="text/javascript">
$(document).ready(function() {

	$('#jobs').dataTable({
	 "bJQueryUI": true,
		"aoColumns": [
			null,
            null
        ]
                   
	});
});
</script>
 <% end %>
	<h1>JOBS</h1> 
	
	<script type="text/javascript" charset="utf-8">
		$(function() {
			new Highcharts.Chart({
				chart: {
					renderTo: "jobs_chart",
					defaultSeriesType: 'bar'
				},
				title: {
					text: "Jobs Ejecutados"
				},
				xAxis:{
					categories: ['jobs.group']

				},
				yAxis:{
					title:{
						text: "Prueba"
					}
				},
				tooltip: {
				         formatter: function() {
				            return ''+
				                this.series.name +': '+ this.y +' millions';
				         }
				      },
				      plotOptions: {
				         bar: {
				            dataLabels: {
				               enabled: true
				            }
				         }
				      },
				legend: {
				         layout: 'vertical',
				         align: 'right',
				         verticalAlign: 'top',
				         x: -90,
				         y: 20,
				         borderWidth: 1,
				         backgroundColor: '#FFFFFF'
				      },
			 series: [
			<% for job in @group_counts %>
							{
							name:'<%= job.group %>',
							data:[<%= job.number_of_jobs %>]
									},										
									<% end %>
						      ]
				});
			});
	</script>
	
	<div id="jobs_chart" style="width:560px; height:300px"></div>
		

			<table id="jobs" title="jobs" summary="Tiene los trabajos ejecutados en PBS">
			<thead>
				<tr>
					<th>Group</th>
					<th>Cantidad</th>					
				</tr>		
			</thead>
			<tbody>
					<% for job in @group_counts %>
					<tr>
							<td><%= job.group %></td>
							<td><%= job.number_of_jobs %></td>										
					</tr>
					<% end %>
			</tbody>
		</table>

		
		
		