<h1>Editing <%= @formato.name %></h1>

<% form_for(@formato) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @formato %> |
<%= link_to 'Back', formatos_path %>