<h1>Listing formatos</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @formatos.each do |formato| %>
  <tr>
    <td><%=h formato.name %></td>
    <td><%= link_to 'Show', formato %></td>
    <td><%= link_to 'Edit', edit_formato_path(formato) %></td>
    <td><%= link_to 'Destroy', formato, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New formato', new_formato_path %>