<div id="header">
	<div id="masthead">
				<div id="branding">
	
					<div id="site-description">
				
					</div>
					<%= image_tag("header2.png", :alt => "", :class =>"redondeado")%>

				</div><!-- #branding -->
		<div id="access">
			<div class="skip-link screen-reader-text">
				<a href="#content"title="Skip to content">Skip to content</a>
			</div><!-- #screen-reader -->
			<div class="menu-header">
				<ul id="menu-menu-principal"class="menu">
					<li id="menu-item-37" class="menu-item menu-item-type-custom">
						<%=link_to "Jobs", jobs_path%>
						
					</li>
					<li id="menu-item-37" class="menu-item menu-item-type-custom">
						<%=link_to "Processes", procesos_path%>
						<ul class="sub-menu">										
							<li id="menu-item-38" class="menu-item menu-item-type-post_type ultimo">
								<%=link_to "New Process", new_proceso_path %></li>						
						</ul>
					</li>
					<li id="menu-item-37" class="menu-item menu-item-type-custom">
						<%=link_to "Software", softwares_path%>
						<ul class="sub-menu">										
							<li id="menu-item-38" class="menu-item menu-item-type-post_type ultimo">
								<%=link_to "New Software", new_software_path %></li>						
						</ul>
					</li>
					
					<li id="menu-item-37" class="menu-item menu-item-type-custom">
						<%=link_to "Project", projects_path%>
						<ul class="sub-menu">										
							<li id="menu-item-38" class="menu-item menu-item-type-post_type ultimo">
								<%=link_to "New Project", new_project_path %></li>						
						</ul>
					</li>
						<li id="menu-item-37" class="menu-item menu-item-type-custom">
							<%=link_to "Formats", formatos_path%>
							<ul class="sub-menu">										
								<li id="menu-item-38" class="menu-item menu-item-type-post_type ultimo">
									<%=link_to "New Format", new_formato_path %></li>						
							</ul>
						</li>
					<li id="menu-item-37" class="menu-item menu-item-type-custom">
						<%=link_to "Sequences", sequences_path%>
						<ul class="sub-menu">										
							<li id="menu-item-38" class="menu-item menu-item-type-post_type ultimo">
								<%=link_to "Free Disk", freedisk_sequences_path %></li>						
						</ul>		
					</li>
					<li id="menu-item-37" class="menu-item menu-item-type-custom">
						<%=link_to "Charts", charts_path%>
						<ul class="sub-menu">										
							<li id="menu-item-89" class="menu-item menu-item-type-post_type ultimo">
								<%=link_to "Disk Usage", disk_space_charts_path %>
							</li>						
						</ul>	
					</li>
					</li>
					<li id="menu-item-88" class="menu-item menu-item-type-custom">
						<%=link_to "Procces Spaces", process_spaces_path%>
						<ul class="sub-menu">										
							<li id="menu-item-89" class="menu-item menu-item-type-post_type ultimo">
								<%=link_to "Free Disk", freedisk_process_spaces_path %></li>						
						</ul>	
					</li>
					
			
				</ul>
			</div><!-- #menu-header -->
		</div><!-- #access -->
	</div><!-- #masthead -->
</div><!-- #header -->
