<div id="header">
	<div id="masthead">
				<div id="branding">
	
					<div id="site-description">
				
					</div>
					<%= image_tag("banner.png",:size => "940x198", :alt => "", :class =>"redondeado")%>

				</div><!-- #branding -->
		<div id="access">
			<div class="skip-link screen-reader-text">
				<a href="#content"title="Skip to content">Skip to content</a>
			</div><!-- #screen-reader -->
			<div class="menu-header">
				<ul id="menu-menu-principal"class="menu">
					<li id="menu-item-37" class="menu-item menu-item-type-custom">
						<%=link_to "Jobs" %>
						
					</li>
					<li id="menu-item-37" class="menu-item menu-item-type-custom">
						<%=link_to "Procesos", procesos_path%>
						<ul class="sub-menu">										
							<li id="menu-item-38" class="menu-item menu-item-type-post_type ultimo">
								<%=link_to "Nuevo Proceso", new_proceso_path %></li>						
						</ul>
					</li>
					<li id="menu-item-37" class="menu-item menu-item-type-custom">
						<%=link_to "Software", softwares_path%>
						<ul class="sub-menu">										
							<li id="menu-item-38" class="menu-item menu-item-type-post_type ultimo">
								<%=link_to "New Software", new_software_path %></li>						
						</ul>
					</li>
					
			
				</ul>
			</div><!-- #menu-header -->
		</div><!-- #access -->
	</div><!-- #masthead -->
</div><!-- #header -->
