<h1>Listing sequences</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
  </tr>

<% @sequences.each do |sequence| %>
  <tr>
    <td><%=h sequence.name %></td>
    <td><%=h sequence.size %></td>
    <td><%= link_to 'Show', sequence %></td>
    <td><%= link_to 'Edit', edit_sequence_path(sequence) %></td>
    <td><%= link_to 'Destroy', sequence, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sequence', new_sequence_path %>